In [80]:
import pandas as pd

df_p1 = pd.read_excel('/home/meliioko/secu/SWaT.A3_dataset_Jul 19_labelled.xlsx', skiprows=1, usecols=range(0, 9))
df_p2 = pd.read_excel('/home/meliioko/secu/SWaT.A3_dataset_Jul 19_labelled.xlsx', skiprows=1, usecols=range(9, 27))
df_p3 = pd.read_excel('/home/meliioko/secu/SWaT.A3_dataset_Jul 19_labelled.xlsx', skiprows=1, usecols=range(27, 40))
df_p4 = pd.read_excel('/home/meliioko/secu/SWaT.A3_dataset_Jul 19_labelled.xlsx', skiprows=1, usecols=range(40, 51))
df_p5 = pd.read_excel('/home/meliioko/secu/SWaT.A3_dataset_Jul 19_labelled.xlsx', skiprows=1, usecols=range(51, 69))
df_p6 = pd.read_excel('/home/meliioko/secu/SWaT.A3_dataset_Jul 19_labelled.xlsx', skiprows=1, usecols=range(69, 80))
df_list = [df_p1, df_p2, df_p3, df_p4, df_p5, df_p6]

In [81]:
df = pd.read_excel('SWaT.A3_dataset_Jul 19_labelled.xlsx', skiprows=1)
df.drop(0, inplace=True)
df.head()

,GMT +0,Attack,Label,FIT 101,LIT 101,MV 101,P1_STATE,P101 Status,P102 Status,AIT 201,...,LSH 601,LSH 602,LSH 603,LSL 601,LSL 602,LSL 603,P6 STATE,P601 Status,P602 Status,P603 Status
1,2019-07-20T04:30:00Z,NaN,NaN,0,729.8658,1,3,2,1,142.527557,...,"{u'IsSystem': False, u'Name': u'Active', u'Val...","{u'IsSystem': False, u'Name': u'Active', u'Val...","{u'IsSystem': False, u'Name': u'Inactive', u'V...","{u'IsSystem': False, u'Name': u'Inactive', u'V...","{u'IsSystem': False, u'Name': u'Inactive', u'V...","{u'IsSystem': False, u'Name': u'Active', u'Val...",2,1,1,1
2,2019-07-20T04:30:01Z,NaN,NaN,0,729.434,1,3,2,1,142.527557,...,"{u'IsSystem': False, u'Name': u'Active', u'Val...","{u'IsSystem': False, u'Name': u'Active', u'Val...","{u'IsSystem': False, u'Name': u'Inactive', u'V...","{u'IsSystem': False, u'Name': u'Inactive', u'V...","{u'IsSystem': False, u'Name': u'Inactive', u'V...","{u'IsSystem': False, u'Name': u'Active', u'Val...",2,1,1,1
3,2019-07-20T04:30:02.004013Z,NaN,NaN,0,729.12,1,3,2,1,142.527557,...,"{u'IsSystem': False, u'Name': u'Active', u'Val...","{u'IsSystem': False, u'Name': u'Active', u'Val...","{u'IsSystem': False, u'Name': u'Inactive', u'V...","{u'IsSystem': False, u'Name': u'Inactive', u'V...","{u'IsSystem': False, u'Name': u'Inactive', u'V...","{u'IsSystem': False, u'Name': u'Active', u'Val...",2,1,1,1
4,2019-07-20T04:30:03.004013Z,NaN,NaN,0,728.6882,1,3,2,1,142.527557,...,"{u'IsSystem': False, u'Name': u'Active', u'Val...","{u'IsSystem': False, u'Name': u'Active', u'Val...","{u'IsSystem': False, u'Name': u'Inactive', u'V...","{u'IsSystem': False, u'Name': u'Inactive', u'V...","{u'IsSystem': False, u'Name': u'Inactive', u'V...","{u'IsSystem': False, u'Name': u'Active', u'Val...",2,1,1,1
5,2019-07-20T04:30:04Z,NaN,NaN,0,727.7069,1,3,2,1,142.527557,...,"{u'IsSystem': False, u'Name': u'Active', u'Val...","{u'IsSystem': False, u'Name': u'Active', u'Val...","{u'IsSystem': False, u'Name': u'Inactive', u'V...","{u'IsSystem': False, u'Name': u'Inactive', u'V...","{u'IsSystem': False, u'Name': u'Inactive', u'V...","{u'IsSystem': False, u'Name': u'Active', u'Val...",2,1,1,1

In [82]:
print(df.Label.value_counts())
print(df.Attack.value_counts())

Label
1.0    2553
Name: count, dtype: int64
Attack
Switch_off      1362
Switch_ON        680
Spoofing         367
Switch_close     144
Name: count, dtype: int64

In [83]:
df['Label'] = df['Label'].fillna(0)
df['Attack'] = df['Attack'].fillna('benign')

In [84]:
print(df.Label.value_counts())
print(df.Attack.value_counts())

Label
0.0    12443
1.0     2553
Name: count, dtype: int64
Attack
benign          12443
Switch_off       1362
Switch_ON         680
Spoofing          367
Switch_close      144
Name: count, dtype: int64

In [85]:
columns = df.columns
columns = columns[2:]
for c in columns:
    df[c] = pd.to_numeric(df[c], errors='coerce')

df['GMT +0'] = pd.to_datetime(df['GMT +0'],  format='ISO8601')

In [86]:
nan_rate_per_column = df.isnull().mean() * 100
broken_columns = []
print("Rate of NaN values for each column:")
for column, nan_rate in nan_rate_per_column.sort_values(ascending=False).items():
    print(f"{column}: {nan_rate:.2f}%")
    if nan_rate == 100:
        broken_columns.append(column)

Rate of NaN values for each column:
LS 201: 100.00%
LSL 601: 100.00%
LSLL 203: 100.00%
LSL 203: 100.00%
LS 202: 100.00%
LSH 601: 100.00%
LSH 603: 100.00%
LSH 602: 100.00%
LSL 602: 100.00%
LSL 603: 100.00%
LS 401: 100.00%
UV401: 0.00%
AIT 504: 0.00%
AIT 503: 0.00%
AIT 502: 0.00%
FIT 501: 0.00%
FIT 502: 0.00%
AIT 501: 0.00%
GMT +0: 0.00%
P404 Status: 0.00%
FIT 504: 0.00%
P403 Status: 0.00%
P402 Status: 0.00%
P401 Status: 0.00%
P4_STATE: 0.00%
FIT 503: 0.00%
P5_STATE: 0.00%
MV 501: 0.00%
MV 502: 0.00%
MV 503: 0.00%
MV 504: 0.00%
FIT 401: 0.00%
P501 Status: 0.00%
P502 Status: 0.00%
PIT 501: 0.00%
PIT 502: 0.00%
PIT 503: 0.00%
FIT 601: 0.00%
P6 STATE: 0.00%
P601 Status: 0.00%
P602 Status: 0.00%
LIT 401: 0.00%
AIT 401: 0.00%
AIT 402: 0.00%
P204 Status: 0.00%
P202 Status: 0.00%
P201 Status: 0.00%
P2_STATE: 0.00%
MV201: 0.00%
FIT 201: 0.00%
AIT 203: 0.00%
AIT 202: 0.00%
AIT 201: 0.00%
P102 Status: 0.00%
P101 Status: 0.00%
P1_STATE: 0.00%
MV 101: 0.00%
LIT 101: 0.00%
FIT 101: 0.00%
Label: 0.00%
P203 Status: 0.00%
P205 Status: 0.00%
Attack: 0.00%
P206 Status: 0.00%
P302 Status: 0.00%
P301 Status: 0.00%
P3_STATE: 0.00%
MV 304: 0.00%
MV 303: 0.00%
MV 302: 0.00%
MV 301: 0.00%
LIT 301: 0.00%
FIT 301: 0.00%
DPIT 301: 0.00%
AIT 303: 0.00%
AIT 302: 0.00%
AIT 301: 0.00%
P208 Status: 0.00%
P207 Status: 0.00%
P603 Status: 0.00%

In [87]:
print(broken_columns)

['LS 201', 'LSL 601', 'LSLL 203', 'LSL 203', 'LS 202', 'LSH 601', 'LSH 603', 'LSH 602', 'LSL 602', 'LSL 603', 'LS 401']

In [88]:
df.drop(broken_columns, axis=1, inplace=True)

In [89]:
df.drop(['GMT +0', 'Attack'], axis=1, inplace=True)

In [90]:
from sklearn.ensemble import IsolationForest

outliers_fraction = 0.03
clf = IsolationForest(contamination=outliers_fraction, random_state=42)
clf.fit(df)
outliers = clf.predict(df)
df['outliers'] = outliers
num_outliers = (df['outliers'] == -1).sum()
num_fraudulent_outliers = df[(df['outliers'] == -1) & (df['Label'] == 1)].shape[0]
# Print the number of outliers and attack outliers
print("Number of outliers detected:", num_outliers)
print("Number of outliers that are labeled as attack:", num_fraudulent_outliers)
# Print fraudulent outliers
fraudulent_outliers = df[(df['outliers'] == -1) & (df['Label'] == 1)]
print("Fraudulent outliers:")
print(fraudulent_outliers)

Number of outliers detected: 450
Number of outliers that are labeled as attack: 187
Fraudulent outliers:
       Label  FIT 101     LIT 101  MV 101  P1_STATE  P101 Status  P102 Status  \
9420     1.0      0.0  820.264900       1         2            1            1
9421     1.0      0.0  820.186400       1         2            1            1
9422     1.0      0.0  820.304138       1         2            1            1
9423     1.0      0.0  820.578900       1         2            1            1
9424     1.0      0.0  820.264900       1         2            1            1
...      ...      ...         ...     ...       ...          ...          ...
12281    1.0      0.0  820.696655       1         2            1            1
12282    1.0      0.0  820.304138       1         2            1            1
12283    1.0      0.0  820.618164       1         2            1            1
12284    1.0      0.0  820.775146       1         2            1            1
12285    1.0      0.0  821.010700       1         2            1            1

          AIT 201   AIT 202     AIT 203  ...  P502 Status     PIT 501  \
9420   144.097672  9.103628  243.117157  ...            1  159.718658
9421   144.097672  9.103628  243.117157  ...            1  159.718658
9422   144.097672  9.103628  243.117157  ...            1  159.718658
9423   144.097672  9.103628  243.117157  ...            1  159.718658
9424   144.097672  9.103628  243.117157  ...            1  159.718658
...           ...       ...         ...  ...          ...         ...
12281  128.300430  9.129262  245.116638  ...            1  217.716614
12282  128.300430  9.132466  245.116638  ...            1  217.716614
12283  128.300430  9.132466  245.116638  ...            1  218.021027
12284  128.300430  9.132466  245.116638  ...            1  217.668549
12285  128.300430  9.135030  245.116638  ...            1  217.636500

          PIT 502     PIT 503   FIT 601  P6 STATE  P601 Status  P602 Status  \
9420     2.867395  114.361700  0.000384         2            1            1
9421     2.867395  114.361700  0.000384         2            1            1
9422     2.867395  114.361700  0.000384         2            1            1
9423     2.867395  114.361700  0.000384         2            1            1
9424     2.867395  114.329659  0.000384         2            1            1
...           ...         ...       ...       ...          ...          ...
12281  192.371765  168.690720  0.000320         2            1            1
12282  192.371765  168.802872  0.000320         2            1            1
12283  192.371765  168.931046  0.000320         2            1            1
12284  192.371765  168.931046  0.000320         2            1            1
12285  192.371765  168.482437  0.000320         2            1            1

       P603 Status  outliers
9420             1        -1
9421             1        -1
9422             1        -1
9423             1        -1
9424             1        -1
...            ...       ...
12281            1        -1
12282            1        -1
12283            1        -1
12284            1        -1
12285            1        -1

[187 rows x 68 columns]

In [92]:
from sklearn.neighbors import LocalOutlierFactor
outliers_fraction = 0.03
clf_lof = LocalOutlierFactor(contamination=outliers_fraction)
outliers_lof = clf_lof.fit_predict(df)
df['lof_outliers'] = outliers_lof
num_outliers_lof = (df['lof_outliers'] == -1).sum()
num_fraudulent_outliers_lof = df[(df['lof_outliers'] == -1) & (df['Label'] ==1)].shape[0]
print("Number of outliers detected by LocalOutlierFactor:", num_outliers_lof)
print("Number of outliers detected by LocalOutlierFactor that are labeled as␣fraudulent transactions:", num_fraudulent_outliers_lof)

Number of outliers detected by LocalOutlierFactor: 450
Number of outliers detected by LocalOutlierFactor that are labeled as␣fraudulent transactions: 134

In [93]:
common_outliers = df[(df['outliers'] == -1) & (df['lof_outliers'] == -1)]
num_common_outliers = common_outliers.shape[0]
print("Number of common outliers between IsolationForest and LOF:", num_common_outliers)

Number of common outliers between IsolationForest and LOF: 27

In [94]:
df.head()

,Label,FIT 101,LIT 101,MV 101,P1_STATE,P101 Status,P102 Status,AIT 201,AIT 202,AIT 203,...,PIT 501,PIT 502,PIT 503,FIT 601,P6 STATE,P601 Status,P602 Status,P603 Status,outliers,lof_outliers
1,0.0,0.0,729.8658,1,3,2,1,142.527557,9.293002,198.077423,...,167.601257,2.963509,119.921173,0.00032,2,1,1,1,-1,-1
2,0.0,0.0,729.4340,1,3,2,1,142.527557,9.293002,198.385025,...,167.601257,2.963509,119.921173,0.00032,2,1,1,1,-1,-1
3,0.0,0.0,729.1200,1,3,2,1,142.527557,9.293002,198.436300,...,167.601257,2.963509,119.921173,0.00032,2,1,1,1,-1,1
4,0.0,0.0,728.6882,1,3,2,1,142.527557,9.289157,198.667000,...,167.601257,2.963509,119.921173,0.00032,2,1,1,1,-1,1
5,0.0,0.0,727.7069,1,3,2,1,142.527557,9.289157,198.897720,...,167.601257,2.963509,119.921173,0.00032,2,1,1,1,-1,1

In [97]:
count = df[((df['outliers'] == 1) | (df['lof_outliers'] == 1)) & (df['Label'] == 1)].shape[0]

print(count / df['Label'].value_counts().get(1, 0))

0.9929494712103408